body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  color: rgb(255, 130, 0);
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
  min-height: 500px;
  text-align: center;
}

.contact {
  background-color: rgb(255, 130, 0);
  width: 100%;
  color: white;
  margin: 0;
}

.footer {
  width: 100%;
  background-color: rgb(231, 108, 3);
  margin: 0;
  height: 35px;
  text-align: center;
  padding: 7.5px;
  color: white;
}

.btn-own { background-color: rgb(231, 108, 3); color: white; }
.btn-own:hover { background-color: rgb(205, 93, 0); color: white; }

.footer a { color: rgb(194, 193, 193); }
.footer a:hover { color: rgb(87, 87, 87); }

.contact a { color: rgb(87, 87, 87); }
.contact a:hover { color: rgb(221, 221, 221); }

.jumbotron .row { min-height: 500px; }

.btn { border-radius: 35px; }

.headerwrap {
	background: url(../img/header.jpg) no-repeat !important;
  background-attachment: fixed;
  height: 750px;
  background-size: 100% !important;
  overflow: hidden;
  top: -70px;
  position: relative;
}

.headerwrap .content {
  width: 60%;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 220px 0;
}

.headerwrap .content h1 {
  color: rgb(231, 108, 3);
  font-weight: bold;
}

.headerwrap .btn {
  background-color: rgba(255, 130, 0, 0.5);
  border: 3px solid rgb(231, 108, 3);
  border-radius: 25px;
  width: 180px;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.headerwrap .btn:hover {
  -webkit-box-shadow: 10px 20px 200px 30px rgba(231, 108, 3, 0.3);
  -moz-box-shadow: 10px 20px 200px 30px rgba(231, 108, 3, 0.3);
  box-shadow: 10px 20px 200px 30px rgba(231, 108, 3, 0.3);
}

.navbar-fixed-top {
  background-color: rgba(255, 255, 255, 0);
  height: 50px !important;
  border-bottom: 1px solid rgb(138, 138, 138);
}

.navbar .navbar-brand { color: rgb(255, 130, 0); }
.navbar .navbar-brand a:hover { background-color: rgb(87, 87, 87); }

ul.nav a { color: rgb(0, 0, 0) !important; }
ul.nav a:hover {
  color: rgb(112, 112, 112) !important;
  border-bottom: 4px solid rgb(255, 130, 0);
}
ul.dropdown-menu a { color: rgb(0, 0, 0) !important; }


/* Modal */
.modal-header {
	background-color: rgb(231, 108, 3);
}

.modal-header h4 {
	color: white;
}

.modal-footer {
	background-color: rgb(255, 130, 0);
  color: white;
}

.modal-body a { color: rgb(231, 108, 3); }
.modal-body a:hover { color: rgb(255, 130, 0) }

/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background-color: rgb(255, 130, 0);
}

.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	letter-spacing: 2px;

}

.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background-color: rgb(231, 108, 3);
	color: #fff;
	font-size: 13px;
}

/* Caption Style */
.mask figure {
	overflow: hidden;
}

.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
	position: absolute;
	top:10px;
	bottom: 10px;
	right: 30px;
}


/* Diffrent mobile menu */
@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: rgba(231, 108, 3, 0.9);}
.collapsing ul li a, .in ul li a {color: white !important;}
.collapsing ul li a:hover, .in ul li a:hover {color: rgb(182, 182, 182) !important;}
ul.nav a:hover { border: none; }
.navbar-default .navbar-toggle {
  background-color: rgb(231, 108, 3);
  border: 1px solid rgb(205, 93, 0);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgb(205, 93, 0);
  border: 1px solid rgb(231, 108, 3);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.7);
}
.headerwrap .content {
  width: 60%;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 120px 0;
}
}
